.parent {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 50px auto;
   }
   .child {
    box-sizing: border-box;
    height: 100px;
    padding: 20px;
    border: 1px solid green;
   }
   
   @media (max-width: 400px) {
    .child {
     width: 100%;
    }
   }
   @media (min-width: 400px) and (max-width: 700px) {
    .child {
     width: 50%;
    }
   }
   @media (min-width: 700px) and (max-width: 1000px) {
    .child {
     width: 33.3333%;
    }
   }
   @media (min-width: 1000px) {
    .child {
     width: 25%;
    }
   }