* {
    box-sizing: border-box;
   }
   body {
    margin: 0;
   }
   
   .wrapper {
    margin-bottom: 30px;
   }
   .wrapper.line {
    background-color: #008040;
    color: white;
   }
   .center {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
   }
   .wrapper h1 {
    margin: 0;
    font: 40px "Times New Roman";
   }
   .wrapper h2 {
    margin: 0;
    font: 25px "Times New Roman";
   }
   .wrapper p {
    font: 16px/1.4 Arial;
    text-align: justify;
   }